
@{
    ViewBag.Title = "Index";
}

<ul>
    @foreach (var u in ViewBag.Users)
    {
        <li>@u.Nik </li>
    }
</ul>

<h2>Registration</h2>
<form method="POST" action="~/Registration/Add">
    Nickname:<input type="text" name="Nik" required/>   
    Password:<input type="text" name="Password" required />
   <input type="submit"  value="Вставить" />
</form>